In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, Float, Date, Time, SmallInteger, Text
import os

In [26]:
# path = '/media/sf_ubuntuShareDrive/Datasets/booking/03.03.2021_09.03.2021.csv'
# df = pd.read_csv(path, dtype={"Schd Time Start" : str, "PO": str, "Route number" : str})
# # df["Date"] = pd.to_datetime(df["Date"], format='%d/%m/%y')
# # df[['Route number', 'Weekday']] = df['Route number'].str.split('-', 1, expand=True)
# df['Date'].head(1)

In [20]:
# path = '/media/sf_ubuntuShareDrive/Datasets/booking/03.02.2021_09.02.2021.csv'
# df['Route number'] = df['Route number'].astype('str')

In [12]:
def insert_booking_df_to_stage_table_db_1(path):
    print(path)
#     encoding='iso8859' encoding='cp1252'
    df = (
            pd
             .read_csv(
                       path,
                       dtype={"Schd Time Start" : str, "PO": str, "Route number" : str},
                       encoding='iso8859')
    )
    
    df["Date"] = pd.to_datetime(df["Date"], format='%d/%m/%y')
    df[['Route number', 'Weekday']] = df['Route number'].str.split('-', 1, expand=True)
    
    db = "STAGE_TABLES_DB_1"
    
    engine_str = f"mssql+pyodbc://SA:ploi?H8597@gordonswsmaster/{db}?driver=ODBC+Driver+17+for+SQL+Server"
    engine = create_engine(engine_str)
    df.to_sql(name="STAGE_TABLE_1", con=engine, schema="BOOKING", if_exists="append", method='multi' ,dtype={
        'Job No': Float(precision=5, asdecimal=True),
        'Date': Date,
        'Schd Time Start': String(length=350),
        'Schd Time End': String(length=350),
        'Latitude': Float(precision=7, asdecimal=True),
        'Longitude': Float(precision=7, asdecimal=True),
        'Customer number': Float(precision=4),
        'Customer Name': String(length=800),
        'Site Name': String(length=800),
        'Address 1': String(length=1200),
        'Address 2': String(length=1200),
        'City': String(length=500),
        'State': String(length=30),
        'PostCode': Integer(),
        'Zone': String(length=500),
        'Phone': String(length=600),
        'Qty Scheduled': SmallInteger(),
        'Qty Serviced': SmallInteger(),
        'Serv Type': String(length=600),
        'Container Type': String(length=20),
        'Bin Volume': Float(precision=5),
        'Status': String(length=5),
        'Truck number': String(length=50),
        'Route number': String(length=50),
        'Generate ID': String(length=500),
        'Initial Entry Date': String(length=350),
        'Weight': Float(precision=5),
        'Prorated Weight': Float(precision=5),
        'Booking Reference 1': String(length=200),
        'Booking Reference 2': String(length=200),
        'Alternate Ref No 1': String(length=200),
        'Alternate Ref No 2': String(length=200),
        'Alternate Service Ref 1': String(length=200),
        'Alternate Service Ref 2': String(length=200),
        'Notes': Text(length=8000),
        'Directions': Text(length=8000),
        'CheckLists': String(length=300),
        'Waste Type': String(length=350),
        'Tip Site': String(length=450),
        'Price': Integer(),
        'PO': String(length=200)
    })

In [10]:
root_path = '/media/sf_ubuntuShareDrive/Datasets/booking_weekly'

for filename in os.listdir(root_path):
    if filename.endswith(".csv"):
        file_path = f"{root_path}/{filename}"
        insert_booking_df_to_stage_table_db_1(file_path)

/media/sf_ubuntuShareDrive/Datasets/booking_weekly/10th_2021.csv
/media/sf_ubuntuShareDrive/Datasets/booking_weekly/9th_2021.csv

In [9]:
root_path = '/media/sf_ubuntuShareDrive/Datasets/booking_weekly'
for filename in os.listdir(root_path):
    print(filename)

10th_2021.csv
9th_2021.csv

In [49]:
# Row
# 94
# 252758
path = '/media/sf_ubuntuShareDrive/Datasets/booking/5.csv'
df = (pd
      .read_csv(
          path,
          dtype={"Schd Time Start" : str, "PO": str, "Route number" : str},
          error_bad_lines=True,
          encoding='iso8859'
#           errors = 'backslashreplace'
          )
     ) 
# ['iso8859','cp1252']
# df["Date"] = pd.to_datetime(df["Date"], format='%d/%m/%y')
# df[['Route number', 'Weekday']] = df['Route number'].str.split('-', 1, expand=True)

In [52]:
# df[:][252758]
df.iloc[252758]

Job No                                           1.72272e+06
Date                                                01/02/19
Schd Time Start                                          NaN
Schd Time End                                          21:32
Latitude                                             151.114
Longitude                                           -33.8694
Customer number                                         1726
Customer Name              Enviroclean Facilities management
Site Name                                                NaN
Address 1                                       82 Harris St
Address 2                                                NaN
City                                                 Pyrmont
State                                                    NSW
PostCode                                                2009
Zone                                                     NaN
Phone                                           0432 289 316
Qty Scheduled                                              1
Qty Serviced                                               1
Serv Type                                                FUT
Container Type                                          120L
Bin Volume                                              0.12
Status                                                     F
Truck number                                          CH85SX
Route number                                           RLG-5
Generate ID                    31/01/2019-00:58:36-RunGen217
Initial Entry Date                         31/01/19 00:58:39
Weight                                                   NaN
Prorated Weight                                            0
Booking Reference 1                                      NaN
Booking Reference 2                                      NaN
Alternate Ref No 1                                       NaN
Alternate Ref No 2                                       NaN
Alternate Service Ref 1                                  NaN
Alternate Service Ref 2                                  NaN
Notes                                                    NaN
Directions                                       Cnr GreekSt
CheckLists                                               NaN
Waste Type                                          Comingle
Tip Site                                                 NaN
Price                                                     11
PO                                                       NaN
Name: 252758, dtype: object

3577.5