In [4]:
import pandas as pd
import numpy as np
from sqlalchemy import (Numeric, create_engine, Table, Column, 
                        Integer, String, MetaData, Float, Date, 
                        Time, SmallInteger, Text)

In [10]:
user = "SA"
pwd = "ploi?H8597"
db = "STAGE_TABLES_DB_1"
server = "gordonswsmaster"
driver = "ODBC+Driver+17+for+SQL+Server"
engine_str = f"mssql+pyodbc://{user}:{pwd}@{server}/{db}?driver={driver}"
engine = create_engine(engine_str)

('22003', '[22003] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]
Arithmetic overflow error converting float to data type numeric. (8115) (SQLExecDirectW)')

In [41]:
PATH = '/media/sf_ubuntuShareDrive/Datasets/test_db/error2.csv'
init_data = pd.read_csv(PATH)
init_data

        c1        c2  c3
0  2616168  4.dfgf36   2
1  2616172         6   3
2  2616128         8   6

In [43]:
# init_data.to_sql(name="ERROR_1", con=engine, schema="TEST_ERROR_SCH", if_exists="append", dtype={
#     'c1': Integer(),
#     'c2': Integer(),
#     'c3': Numeric(5, 2)
# })

In [ ]:
with engine.connect() as connection:
    result = connection.execute("select username from users")
    for row in result:
        print("username:", row['username'])